.form-control{
    color: #ffc400;
}
.otpButton{
    background-color: #ffc400;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    font-weight: 600;
    width: 100px;
    height: 40px;
}
.otpButton:hover{
    font-size: 15px;
    transition: 400ms;
    box-shadow: 0 0 6px #ffc400, 0 0 8px #ffc400, 0 0 10px #ffc400;
}

.otpButton1{
    background-color: #ffc400;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    font-weight: 600;
    width: 100px;
    height: 40px;
}
.otpButton1:hover{
    font-size: 15px;
    transition: 400ms;
    box-shadow: 0 0 6px #ffc400, 0 0 8px #ffc400, 0 0 10px #ffc400;
}